.app{
   display: flex; 
   
}
header{
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
header h1{
    font-weight: bold;
    margin-left: 10%;
    margin-top: 45px;
}
.menuIcon{
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
}
footer{
    height: 100px;
}
